.gallery {
	width: fit-content;
	display: flex;
	flex-direction: row;
	padding: 0 50px 100px 50px;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	@media (max-width: 800px) {
		padding: 0 10px 10px 10px;
		flex-wrap: nowrap;
	}
	&__image {
		object-fit: cover;

		&_1,
		&_2 {
			width: 753px;
		}

		&_3,
		&_4 {
			width: calc(50% - 10px);
			max-width: 366px;
		}
	}
}
